@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cormorant+Garamond&family=Crimson+Text&family=Englebert&family=Karma&family=Mate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cormorant+Garamond&family=Crimson+Text&family=Englebert&family=Karma&family=Lobster&family=Mate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cormorant+Garamond&family=Crimson+Text&family=Englebert&family=Karma&family=Lobster&family=Lugrasimo&family=Mate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cormorant+Garamond&family=Crimson+Text&family=Englebert&family=Karma&family=Lobster&family=Lugrasimo&family=Mate&family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cormorant+Garamond&family=Crimson+Text&family=Englebert&family=Karma&family=Lobster&family=Lugrasimo&family=Mate&family=Patrick+Hand&family=Patrick+Hand+SC&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

body {
    background-color: #F4E4BA;
}

#navbar {
    background-color: #E95B65;
    display: flex;
    align-items: center;
    border-bottom: 6px solid #D21A00;
}

#navbar a {
    font-family: "Englebert", cursive;
    display: inline-block;
    text-decoration: none;
    color: #F9F5E9;
    padding: 25px;
}

#navbar a:hover {
    background-color: #D21A00;
}

#navbar #logo {
    margin-right: auto;
    font-family: "Englebert", cursive;
    font-weight: normal;
    font-size: 22px;
    padding-top: 22px;
    padding-bottom: 21px;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.25s,
        visibility 0.25s;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: #E95B65;
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    background-color: #D21A00;
}

#hero {
    background-image: url("../images/Hero-Image-\(1\).png");
    height: 40vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 6px solid #D21A00;
}

#hero .hero-content {
    text-align: center;
    color: #F9F5E9;
}

#hero h2 {
    font-family: "Lobster", sans-serif;
    font-weight: normal;
    padding-top: 32px;
    font-size: 2.5vw;
    margin-bottom: 3vh;
}

#hero h4 {
    font-family: "Mate", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    margin: 0px;
}

#hero a {
    font-family: "Englebert", cursive;
    font-weight: normal;
    font-size: 0.8vw;
    display: inline-block;
    background-color: #E95B65;
    color: #F9F5E9;
    text-decoration: none;
    padding: 28px;
    margin: 5vh 2vw 10vh;
}

#hero a:hover {
    background-color: #D21A00;
}

#layout {
    width: 1100px;
    margin: 32px auto;
}

.single-column {
    min-width: 1100px;
    max-width: 1200px;
    margin: 0px auto;
    border: 8px solid #D21A00;
}

.card-container {
    display: flex;
    justify-content: space-between;
    background-color: #628E2A;
}

.card {
    flex: 1;
    border: 4px solid #1c3e08;
    padding: 28px;
    text-align: center;
    color: #F9F5E9;
    margin: 44px;
    background-color: #628E2A;
}

.card h3 {
    font-family: "Patrick Hand SC", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 22px;
    margin: 0px;
}

.card p {
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin: 24px 0px;
}

.card a {
    font-family: "Englebert", cursive;
    font-weight: normal;
    display: inline-block;
    background-color: #E95B65;
    color: #F9F5E9;
    text-decoration: none;
    padding: 24px;
}

.card a:hover {
    background-color: #D21A00;
}

.spacer {
    height: 15vh;
}

.heading {
    background-color: #628E2A;
    border: 6px solid #1c3e08;
    margin-bottom: 34px;
    margin-top: 34px;
}

.heading h1 {
    font-family: "Mate", serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    padding: 18px;
    font-size: 38px;
    color: #F9F5E9;
}

.bio {
    text-align: center;
    background-color: #628E2A;
    border: 6px solid #1c3e08;
    margin: 24px;
    padding: 24px;
}

.bio p {
    font-family: "Patrick Hand", cursive;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    color: #F9F5E9;
    margin: 24px 24px;
    padding-bottom: 16px;
}

.description {
    text-align: center;
    background-color: #628E2A;
    border: 6px solid #1c3e08;
    margin: 24px;
    padding: 24px;
}

.description p {
    font-family: "Patrick Hand", cursive;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    color: #F9F5E9;
}

.basic-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    padding: 24px;
    border: 8px solid #1c3e08;
    background-color: #628E2A;
}

.basic-grid-gallery img {
    width: 100%;
}

.vertical-masonry-gallery {
    columns: 3 auto;
    column-gap: 24px;
}

.vertical-masonry-gallery img {
    width: 100%;
    margin-bottom: 24px;
}

#footer {
    font-family: "Englebert", cursive;
    font-weight: normal;
    background-color: #628E2A;
    color: #F9F5E9;
    padding: 12px;
    border-top: 6px solid #1c3e08;
    border-bottom: 6px solid #1c3e08;
}

#footer a {
    text-decoration: none;
    color: #F9F5E9;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}